body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas {
    background-color: #000;
    padding: 0;
    margin: auto;
    display: block;
    cursor: pointer;
}
